<div class="chatWindow hideChatWindow">
    <div class="chatHead hideChatWindow">
        <div class="btn-group" role="group">
            <button class="btn btn-sm btn-secondary" onclick="chengeChl(0)">全部</button>
            <button class="btn btn-sm btn-warning" onclick="chengeChl(1)">世界</button>
            <button class="btn btn-sm btn-success" onclick="chengeChl(2)">组队</button>
            <button class="btn btn-sm btn-primary" onclick="chengeChl(3)">帮派</button>
            <!--<button class="btn btn-sm btn-primary" onclick="chengeChl(7)">交易</button>-->
            <!--<button class="btn btn-sm btn-primary" onclick="chengeChl(11)">附近</button>-->
            <!--<button class="btn btn-sm btn-primary" onclick="chengeChl(12)">号角</button>-->
            <!--<button class="btn btn-sm btn-primary" onclick="chengeChl(13)">战场</button>-->
            <!--<button class="btn btn-sm btn-primary" onclick="chengeChl(14)">国家</button>-->
            <!--<button class="btn btn-sm btn-primary" onclick="chengeChl(15)">跨服号角</button>-->
            
        </div>
        <label><input type="checkbox" name="autoscroll" checked="checked"> 自动滚屏 </label>
        <a href="javascript:void(0)" onclick="showHideChat()">显示\隐藏</a>
    </div>
    <div class="chatW" data-target="chatMessage" data-chl="0"></div>

</div>