<h5>XML编辑器</h5> <hr>

<a href="javascript:void(0)" data-tip="tooltip" data-html="true" title="
单击XML编辑器字段，您可以使用键盘快捷键。<br><br>
Win: <kbd>Ctrl-F</kbd> / iMac: <kbd>Cmd-F</kbd> - 搜索<br>
Win: <kbd>Ctrl-G</kbd> / iMac: <kbd>Cmd-G</kbd> - 进一步搜索<br>
Win: <kbd>Shift-Ctrl-G</kbd> / iMac: <kbd>Shift-Cmd-G</kbd> - 返回<br>
Win: <kbd>Shift-Ctrl-F</kbd> / iMac: <kbd>Cmd-Option-F</kbd> - 替换<br>
Win: <kbd>Shift-Ctrl-R</kbd> / iMac: <kbd>Shift-Cmd-Option-F</kbd> - 全部替换<br>">搜索帮助</a><br>

<input type="hidden" name="id" value="{id}">
<textarea title="xml" class="form-control form-control-sm"  name="code" id="code">{xml}</textarea><br>
<button class="btn btn-sm btn-success" name="sendXML">保存更改</button>

<script>

</script>


